<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>


        <div class="container mt-3">
            
            <div class="row">
                <div class="col-md-10">
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                </div>
                <div class="col-md-2">
                    <a href="/location/insert" class="btn btn-primary btn-block"><i class="fa fa-plus" aria-hidden="true"></i> New Product</a>
                </div>
            </div>
            <br>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Locatio Name</th>
                        <th>Province</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <% if (prods.length > 0) { %>

                        <% prods.map((product, index) => { %>
                            <tr>
                                <td>
                                    <%- (index+1) %>
                                </td>
                                <td>
                                    <%- product.product_name%>
                                </td>
                                <td>
                                    <%- product.price%>
                                </td>
                                <td>
                                    <a href="<%- '/location/update/'+product._id%>" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                    <a href="<%- '/location/delete/'+product._id%>" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-danger"> <i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                </td>
                            </tr>
                            <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="4">
                                            <h1>No location Found!</h1>
                                        </td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table>
        </div>

        <%- include('../includes/end.ejs') %>